In [ ]:
# 1. Write a Python program to swap the values of two variables without using a temporary variable.

In [1]:
x=10
y=20
x,y=y,x
print("x=",y)
print("y=",x)

x= 10
y= 20

In [2]:
a=int(input('enter value of first varriabls: '))
b=int(input('enter value of second varriabls: '))
a=a+b
b=a-b
a=a-b
print('a is :',a,     'b is :',b)

enter value of first varriabls:  10
enter value of second varriabls:  20

a is : 20 b is : 10

In [ ]:
# 2.Write a Python program that takes an integer as input and prints whether it is even or odd.

In [3]:
 n=int(input('enter a number:'))
if n%2==0:
    print('even number')
else:
    print('odd number')

enter a number: 11

odd number

In [ ]:
# 3. Write a Python function to reverse a given string and return the reversed string.

In [4]:
name=input("enter string:")
print(name[-1::-1])

enter string: ROMAN AHMED

DEMHA NAMOR

In [ ]:
# 4.Given a list of integers, write a Python program to convert each element of the list to a string in python

In [5]:
list=[1,2,3,4,5]
list1=[str(item) for item in list]
print(list1)

['1', '2', '3', '4', '5']

In [ ]:
# 5.Write a Python program that converts a temperature in Celsius to Fahrenheit. Take the Celsius temperature as input from the user.

In [6]:
celsius=int(input("enter temperature in celsius:"))
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

enter temperature in celsius: 41

105.8

In [ ]:
# 6. Write a Python function that takes a variable as input and returns the data type of the variable as a string .

In [7]:
a='2'
type(a)

str

In [ ]:
# 7.Write a Python function to check if a given string is a palindrome or not.

In [8]:
n=input("enter a string:")
if n==n[::-1]:
    print(n+ " is palindrome")
else:
    print(n+ " is not palindrome")

enter a string: Ratar

Ratar is not palindrome

In [ ]:
# 8.Write a Python function to reverse a given string using slicing.

In [9]:
s= "hello world"
print(s[::-1])

dlrow olleh

In [ ]:
# 9. Write a Python program that takes two strings as input and concatenates them into a single string without using the `+` operator.

In [10]:
n1=input('enter 1st string: ')
n2=input("enter 2nd string: ")
p=(n1, n2)
add=p
print(add)

enter 1st string:  data
enter 2nd string:  science

('data', 'science')

In [11]:
n1=input('enter 1st string: ')
n2=input("enter 2nd string: ")
add=( n1+""+n2)
print(add)

enter 1st string:  machine
enter 2nd string:  learning

machinelearning

In [ ]:
# 10.Typecasting challenge

In [12]:
a=int('100')
b=25
first_operation=a+b
c=float("10.5")
result=first_operation
print(result)

125

In [ ]:
# 11.Write a Python program that takes a number as input and prints whether it is positive, negative, or zero.

In [13]:
a=int(input('enter a number:'))
if a>0:
    print('this number is positive')
elif a<0:
    print('this number is negetive')
else:
    print("this number is zero")

enter a number: 11

this number is positive

In [ ]:
# 12.Largest of Three Numbers: Write a Python program that takes three numbers as input and prints the largest among them.

In [14]:
a=int(input("enter first number : "))
b=int(input("enter second number :"))
c=int(input("enter third number : "))
if a>b and a>c:
    largest=a
elif b>c and b>a:
    largest=b
else:
    largest=c
print(" {}, {} and {} in betwen {} large number.".format(a,b,c,largest))

enter first number :  12
enter second number : 34
enter third number :  21

 12, 34 and 21 in betwen 34 large number.

In [ ]:
# OR

In [15]:
x = 10
y = 6
z = 12
large = max(x,y,z)
print(large)

12

In [ ]:
# 13.Write a Python program that takes a year as input and determines if it is a leap year or not.

In [16]:
year=int(input("enter the year:  "))
if year%4==0:
    print("it is a leap year")
else:
    print("it is not leap year")

enter the year:   2024

it is a leap year

In [ ]:
# 14. Grades Classification

In [17]:
marks=int(input("enter your marks:"))
if marks >= 90: 
    print("grade A+")
elif marks>= 80:
    print("grade A")
elif marks >=70 :
    print("grade B")
elif marks >=60:
    print("grade C")
else:
    print(" Fail")

enter your marks: 45

 Fail

In [ ]:
# 15. Vowel or Consonant

In [18]:
letter=input("enter a letter; ")
if letter in ("aeiouAEIOU"):
    print("its vowel:", letter)
else:
    print("its consonant")

enter a letter;  python

its consonant

In [ ]:
# 16. Time Classification

In [19]:
def greeting(hour):
    if 5 <= hour < 12:  # From 5:00 to 11:59
        return "Good Morning"
    elif 12 <= hour < 18:  # From 12:00 to 17:59
        return "Good Afternoon"
    elif 18 <= hour < 22:  # From 18:00 to 21:59
        return "Good Evening"
    else:  # From 22:00 to 4:59
        return "Good Night"

hour_input = int(input("Enter the hour (0-23): "))
greeting = greeting(hour_input)
greeting

Enter the hour (0-23):  21

'Good Evening'

In [ ]:
# 17. Triangle Type Checker

In [20]:
a=int(input("enter 1st number "))
b=int(input("enter 2nd number "))
c=int(input("enter 3rd number "))
if a==b==c:
    print("it is equilateral triangle")
elif a==b or  b==c or a==c:
    print("it is isosceles triangle ")
else:
    print("scalene triangle")

enter 1st number  2
enter 2nd number  3
enter 3rd number  4

scalene triangle

In [ ]:
# 18. Quadratic Equation Solver

In [21]:
import cmath

In [22]:
a=int(input("enter number(a!=0):"))
b=int(input("enter number: "))
c=int(input("enter number: "))
d=b**2-4*a*c
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print("the roots are", root1, "and", root2)

enter number(a!=0): 2
enter number:  3
enter number:  4

the roots are (-0.75-1.1989578808281798j) and (-0.75+1.1989578808281798j)

In [ ]:
# 19. Number Ranges

In [23]:
a=int(input("enter a number: "))
a in range(0,150)
if 0<a<=50:
    print("0-50")
elif a>50 and a<=100:
    print("51-100")
else:
    print("101-150")

enter a number:  123

101-150

In [ ]:
# 20.Sum of N Numbers

In [24]:
n=int(input("enter number : "))
sum=0
i=1
while (i<=n):
    sum=sum+i
    i=i+1
print('sum', sum)

enter number :  10

sum 55

##

In [25]:
n=int(input("enter a number"))
sum=n*(n+1)/2
print(sum)

enter a number 10

55.0

In [ ]:
# 21. Factorial Calculator

In [26]:
a=int(input("enter a number: !"))
factorial=1
while(a>1):
    factorial=factorial*a
    a=a-1
print(factorial)

enter a number: ! 5

120

In [ ]:
# 22. Table of a Number

In [27]:
n=int(input("enter a number: "))
for i in range(1,11):
    print(n, "*", i ,"=",(n*i))

enter a number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# 23. Count Digits in a Number

In [28]:
a=int(input("enter a number: "))
count=0
while a!=0:
    a=a//10
    count+=1
print( 'digit numberb is', count )

enter a number:  5

digit numberb is 1

In [ ]:
# 24. Fibonacci Sequence

In [ ]:
n=int(input("enter a number:"))
a=0
b=1
c=0
for x in range(n):
    print(c,end=" , ")
    c=a+b
    b=a
    a=c
print()

In [ ]:
# 25. Sum of Even Numbers:

In [29]:
n=int(input("enter a number: "))
i=2
sum=0
while (i<=n):
    sum=sum+i
    i=i+2
print("sum of even number=",sum)

enter a number:  20

sum of even number= 110

In [ ]:
# 26. Print Patterns:

In [30]:
n=int(input("enter of row: "))
for n1 in range(1,n+1):
    for column in range(1,n1+1):
        print("*",end="  ")
    print()

enter of row:  22

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [31]:
n=int(input("enter of row: "))
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

enter of row:  5

* * * * *
* * * *
* * *
* *
*

In [ ]:
# 27. Prime Number Checker

In [32]:
a=int(input("enter number: "))
i=2
n=0
while i<a:
    if a%i==0:
        n=1
        break
    i=i+1
if n==0:
    print(a,"is prime number")
elif n==1:
    print(a, "is not prime number")

enter number:  43

43 is prime number

In [ ]:
# 28. List Manipulation:

In [35]:
"""
n=int(input("Enter the number of elements: "))
l1=list()
for i in range(n):
    element=int(input("Enter the numbers: "))
    l1.append(element)
    
s =sum(l1)
mi=min(l1)
mx=max(l1)
avg=s/len(l1)

print("sum of numbers is: ",s)
print("minimum elements is: ",mi)
print("maximum element is: ",mx)
print("average is: ",avg)
"""

'\nn=int(input("Enter the number of elements: "))\nl1=list()\nfor i in range(n):\n    element=int(input("Enter the numbers: "))\n    l1.append(element)\n    \ns =sum(l1)\nmi=min(l1)\nmx=max(l1)\navg=s/len(l1)\n\nprint("sum of numbers is: ",s)\nprint("minimum elements is: ",mi)\nprint("maximum element is: ",mx)\nprint("average is: ",avg)\n'

In [ ]:
# 29. Reverse String

In [ ]:
name="Data Science"
output=""
i=len(name)-1
while i>=0:
    output=output+name[i]
    i=i-1
print(output)

In [ ]:
# 30. Multiplication Table:nested loops

In [ ]:
a=int(input("enter the number; "))
i=1
while(i<11):
    print(a ,"X",i,'=', a*i)
    i=i+1

In [ ]:
# 31. Print Patterns

In [ ]:
n=int(input("enter of row: "))
for n1 in range(1,n+1):
    for column in range(1,n1+1):
        print("*",end="  ")
    print()

In [ ]:
# 32. Matrix Multiplication:

In [ ]:
x=[[1,2,3],
  [4,5,6],
  [7,8,9]]
y=[[1,2,3],
  [4,5,6],
  [7,8,9]]
result=[[0,0,0],
  [0,0,0],
  [0,0,0]]
for i in range(len(x)):
    for j in range(len(y)):
        for k in range(len(y)):
            result[i][j]+=x[i][k]*y[k][j]
for r in result:
    print(r)

In [ ]:
#33. Chessboard Pattern:

In [ ]:
# Number Pyramid: Write a Python program using nested loops to print a number pyramid like the following: 1 22 333 4444 55555

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end= " ")
    print()

In [ ]:
# 34. List Sum: Write a Python program to find the sum of all elements in a given list of integers.

In [ ]:
list=[1,2,3,7]
sum = 0
for i in list:
    sum = sum+i
print("the sum is: ",sum)

In [ ]:
# 35. List Average: Write a Python program to calculate the average of all elements in a given list of integers.

In [ ]:
list1=[10,20,30,40]
sum_of_elements= sum(list1)
len_of_list1=len(list1)
avg=sum_of_elements/len_of_list1
print("average of given numbers in list is;", avg)

In [ ]:
# 36. List Max and Min: Write a Python program to find the maximum and minimum values in a given list of integers.

In [ ]:
numbers=[5,3,8,6,9,12,5,11]
min=numbers[0]
max=numbers[0]
for i in range (len(numbers)):
    if numbers [i]>max:
        max=numbers[i]
    elif numbers[i] < min:
        min=numbers[i]
print("min:",min)
print("max:",max)

In [ ]:
# 37. List Sorting: Write a Python program to sort a list of integers in ascending order.

In [ ]:
x=[12,13,8,3,7,24]
x.sort()
print(x)

In [ ]:
# 38. List Filtering: Given a list of integers, write a Python program to create a new list that contains only the even numbers from the original list.

In [ ]:
def even(x):
    if x%2==0:
        return True
    return False
list1={1,2,3,4,5,6,7,8,9}
result=filter(even,list1)
print("even numbers are : ", list(result))

In [ ]:
# 39. List Reversal: Write a Python program to reverse a given list without using any built-in functions.

In [ ]:
L=[1,2,3,4,5]
print(L)
temp=L[0]
L[0]=L[4]
L[4]=temp
print(L)

In [ ]:
# 40. List Manipulation: Given two lists of integers, write a Python program to create a new list that contains elements common to both lists.

In [ ]:
list1=[1,2,3,4,5,6]
list2=[7,8,93,2,4]
for x in list1:
    for y in list2:
        if (x==y):
            print("common elements is: ",x)

#